.DS_Store
*.log
*.pth
*.pyc
*.swp
loss_graph.png
__pycache__
test_src/

.idea/

!.idea/workspace.xml
!.idea/misc.xml
!.idea/modules.xml
!.idea/vcs.xml
!.idea/libraries

.idea/dictionaries/
.idea/inspectionProfiles/
.idea/shelf/
.idea/tasks/
.idea/httpRequests/

.idea/dataSources/
.idea/dataSources.local/
.idea/sqlDataSources.xml
.idea/dataSources.ids
.idea/caches/
.idea/jsLibraryMappings.xml

.idea/**/target/
.idea/**/out/
.idea/**/build/

.idea/runConfigurations/

data/*
!data/raw/
!data/processed/
!data/manifests/

data/raw/*
!data/raw/arducam/
!data/raw/itop/
!data/raw/ntu/
data/raw/arducam/*
data/raw/itop/*
data/raw/ntu/*
!data/raw/arducam/.gitkeep
!data/raw/itop/.gitkeep
!data/raw/ntu/.gitkeep

data/processed/*
!data/processed/arducam/
!data/processed/itop/
!data/processed/ntu/
data/processed/arducam/*
data/processed/itop/*
data/processed/ntu/*
!data/processed/arducam/.gitkeep
!data/processed/itop/.gitkeep
!data/processed/ntu/.gitkeep

data/manifests/*
!data/manifests/*.csv
data.zip
*.tflite

experiments/*
!experiments/.gitkeep
checkpoints/*
!checkpoints/.gitkeep
